################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/OrleansChat/FileContentIndex/3bfe8d95-9d3f-4b54-886e-c73c6a027a09.vsidx
*.vsidx
