<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatTest.UserData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChatTest.Ui.LoginWindowSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChatTest.Ui.LoginWindow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatTest.UserData>
            <setting name="UserData" serializeAs="String">
                <value />
            </setting>
        </ChatTest.UserData>
        <ChatTest.Ui.LoginWindowSetting>
            <setting name="Background" serializeAs="String">
                <value>bg1.jpg</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="HeadBackGroundColor" serializeAs="String">
                <value>#eadcd6</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>#eee1ca</value>
            </setting>
            <setting name="HeadBtnOverColor" serializeAs="String">
                <value>#edebe0</value>
            </setting>
            <setting name="HeadBtnPressCC" serializeAs="String">
                <value>#ff0000</value>
            </setting>
            <setting name="HeadBtnPressMC" serializeAs="String">
                <value>#edeadc</value>
            </setting>
            <setting name="ActionColor" serializeAs="String">
                <value>#FFF34B4B</value>
            </setting>
            <setting name="WindowIcon" serializeAs="String">
                <value>None</value>
            </setting>
        </ChatTest.Ui.LoginWindowSetting>
        <ChatTest.Ui.LoginWindow>
            <setting name="BackgroundType" serializeAs="String">
                <value>0</value>
            </setting>
        </ChatTest.Ui.LoginWindow>
    </userSettings>
</configuration>